<!doctype html>
<html lang="pt-BR">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title data-i18n="head.title"></title>
  <meta name="description" content="programa de Wi-For - Wi-Fi público e gratuito em Fortaleza Prefeitura de Fortaleza CITINOVA" />
  <meta property="og:title" content="Wi-For - Wi-Fi público e gratuito em Fortaleza" />
  <meta property="og:description"
        content="programa de Wi-Fi público e gratuito em Fortaleza Prefeitura de Fortaleza CITINOVA" />
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="" />
  <!-- bundle style-->
    <link rel="stylesheet" href="./styles/main.css" />
  <!--/bundle style-->
</head>