    <section id="anchorCom" class="s-content s-coiq-features bg-white">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <h2 class="text-center s-content__title--main mb-4 text-white">
                        <b class="text-black" data-i18n="about.title"></b>
                    </h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="jumbotron bg-white">
                        <p class="lead"data-i18n="[html]about.description">
                        <hr>
                        </p>
                        <!-- <p class="lead">
                        O programa Wi-For tem como princípios a promoção da cidadania e a inclusão digital, possibilitando a democratização do acesso à 
                        Internet e consequentemente facilitando ao cidadão o acesso à informação, cultura, serviços digitais e à educação.
                        </p>
                        <p class="lead">
                        O programa propõe a melhoria contínua do serviço e a ampliação dos pontos de acesso na cidade dentro de regras bem definidas,
                        dentro das normativas vigentes como o Marco Civil da Internet (Lei Nº 12.965, de 23 de abril de 2014).
                        </p>
                        <p class="lead mb-1">
                        São hoje, <b class="text-orange">102 pontos de acesso</b>  disponíveis em diversas localidades da cidade de Fortaleza!
                        </p> -->
                        <h3 class="mb-0 text-center font-weight-bold mt-5" data-i18n="about.subtitle"></h3>

                        <div class="holderCircle p-4 d-none d-md-block">
                        <div class="round"></div>
                        <div class="dotCircle">
                            <span class="itemDot active itemDot1" data-tab="1">
                            <i class="icon-feed icons"></i>
                            <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot2" data-tab="2">
                            <i class="icon-location-pin icons"></i>
                            <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot3" data-tab="3">
                            <i class="icon-people icons"></i>
                            <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot4" data-tab="4">
                            <i class="icon-globe icons"></i>
                            <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot5" data-tab="5">
                            <i class="icon-organization icons"></i>
                            <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot6" data-tab="6">
                            <i class="icon-shield icons"></i>
                            <span class="forActive"></span>
                            </span>
                        </div>
                        <div class="contentCircle">
                            <div class="CirItem title-box active CirItem1">
                                <h2 class="title"><span data-i18n="circle.title"></span></h2>
                                <p data-i18n="circle.description">
                                </p>
                                <i class="icon-feed icons"></i>
                            </div>
                            <div class="CirItem title-box CirItem2">
                                <h2 class="title"><span data-i18n="circle.dispo"></span></h2>
                                <p data-i18n="circle.dispoDesc"></p>
                                <i class="icon-location-pin icons"></i>
                            </div>
                            <div class="CirItem title-box CirItem3">
                                <h2 class="title"><span data-i18n="circle.inc"></span></h2>
                                <p data-i18n="circle.incDes"> </p>
                                <i class="icon-people icons"></i>
                            </div>
                            <div class="CirItem title-box CirItem4">
                                <h2 class="title"><span data-i18n="circle.connect"></span></h2>
                                <p data-i18n="circle.connectDes"></p>
                                <i class="icon-organization icons"></i>
                            </div>
                            <div class="CirItem title-box CirItem5">
                                <h2 class="title"><span data-i18n="circle.cida"></span></h2>
                                <p data-i18n="circle.cidaDes"></p>
                                <i class="icon-share icons"></i>
                            </div>
                            <div class="CirItem title-box CirItem6">
                                <h2 class="title"><span data-i18n="circle.seg"></span></h2>
                                <p data-i18n="circle.segDes"></p>
                                <i class="icon-shield icons"></i>
                            </div>
                        </div>
                        </div>

                        <!--mobile-->
                        <div class="my-5 d-block d-md-none">
                        <div class="steps" id="stepWizard">
                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step1">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-people icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.inc"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse1" class="pl-5 collapse show" aria-labelledby="step1" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.incDes">
                                    </div>
                                </div>
                            </div>

                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step2">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-feed icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.description"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse2" class="pl-5 collapse" aria-labelledby="step2" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.description">
                                    </div>
                                </div>
                            </div>

                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step3">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-globe icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.connect"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse3" class="pl-5 collapse" aria-labelledby="step3" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.connectDes">
                                    </div>
                                </div>
                            </div>

                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step4">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-organization icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.cid"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse4" class="pl-5 collapse" aria-labelledby="step4" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.cidDes">
                                    </div>
                                </div>
                            </div>

                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step5">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-location-pin icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.dispo"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse5" class="pl-5 collapse" aria-labelledby="step5" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.dispoDesc">
                                    </div>
                                </div>
                            </div>

                            <div class="step position-relative">
                                <div class="step-heading position-static" id="step6">
                                    <a class="" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <div class="num d-inline-flex text-white align-items-center justify-content-center position-relative rounded-circle bg-orange">
                                            <i class="icon-shield icons"></i>
                                        </div>
                                        <div class="pl-4 d-inline-flex title" data-i18n="circle.seg"></div>
                                    </a>
                                </div>

                                <div class="line position-absolute"></div>

                                <div id="collapse6" class="pl-5 collapse" aria-labelledby="step6" data-parent="#stepWizard">
                                    <div class="step-body" data-i18n="circle.segDes">
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                        <!--/mobile-->

                    </div>
                </div>
            </div>
        </div>
    </section>