    <section id="anchorRen" class="our-blog p-0 m-0 bg-light">
        <div class="container work-process  pb-5 pt-5">
            <div class="title mb-5 text-center">
            <h3 class="font-weight-bold" data-i18n="nav.connect"></h3>
        </div>
            <!-- ============ step 1 =========== -->
            <div class="row">
                <div class="col-md-5">
                    <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step font-weight-bold">
                                    <p class="m-0 p-0" data-i18n="connect.pass"></p>
                                    <h2 class="m-0 p-0" data-i18n="connect.one"></h2>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h5 class="font-weight-bold" data-i18n="connect.localize"></h5>
                                <p>
                                    <small data-i18n="connect.localizeSmall">
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                </div>
            </div>
            <!-- ============ step 2 =========== -->
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step font-weight-bold">
                                    <p class="m-0 p-0" data-i18n="connect.pass"></p>
                                    <h2 class="m-0 p-0" data-i18n="connect.two"></h2>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h5 class="font-weight-bold" data-i18n="connect.cad"></h5>
                                <p><small data-i18n="connect.cadSmall"> </small></p>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="https://digital.fortaleza.ce.gov.br/" title="Cadastro" target="_blank" class="btn btn-orange text-white" data-i18n="connect.cadBt">Cadastro</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ============ step 3 =========== -->
            <div class="row">
                <div class="col-md-5">
                    <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step font-weight-bold">
                                    <p class="m-0 p-0" data-i18n="connect.pass"></p>
                                    <h2 class="m-0 p-0" data-i18n="connect.three"></h2>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h5 class="font-weight-bold" data-i18n="connect.assist"></h5>
                                <p><small data-i18n="connect.assistSmall"></small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                </div>
            </div>
            <!-- ============ step 4 =========== -->

        </div>
    </section>