            <section id="bannerDynamic" class="s-content s-programs">
                <div class="container bg-warning p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://dados.fortaleza.ce.gov.br/" title="dados abertos" target="_blank">
                                <img src="./assets/img/logo-dadosBgYellow.png" class="s-programs--logo" alt="logo dados abertos">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <p class="text-white s-programs--article" data-i18n="programs.article">
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="https://dados.fortaleza.ce.gov.br/" title="dados abertos" target="_blank" class="btn btn-orange text-white" data-i18n="programs.botao"> </a>
                        </div>
                    </div>
                </div>
            </section>