            <section id="anchorFaq" class="s-content s-faq">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-center s-content__title--main mb-4 text-black">
                                <b data-i18n="nav.faq"></b>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="accordion" id="faq">
                                <div class="card">
                                    <div class="card-header" id="faqhead1">
                                        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                                        aria-expanded="true" aria-controls="faq1" data-i18n="faq.one"></a>
                                    </div>

                                    <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                                        <div class="card-body" data-i18n="faq.answerZero">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead2">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                                        aria-expanded="false" aria-controls="faq2" data-i18n="faq.two"></a>
                                    </div>

                                    <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                        <div class="card-body" data-i18n="faq.answerOne">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead3">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                        aria-expanded="false" aria-controls="faq3" data-i18n="faq.three"></a>
                                    </div>

                                    <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                        <div class="card-body" data-i18n="[html]faq.answerTwo">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead4">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                        aria-expanded="false" aria-controls="faq4" data-i18n="faq.four"></a>
                                    </div>

                                    <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                        <div class="card-body" data-i18n="faq.answerThree">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead5">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                                        aria-expanded="false" aria-controls="faq5" data-i18n="faq.five"></a>
                                    </div>

                                    <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                        <div class="card-body" data-i18n="[html]faq.answerFour">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead6">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                                        aria-expanded="false" aria-controls="faq6" data-i18n="faq.six"></a>
                                    </div>

                                    <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                        <div class="card-body" data-i18n="faq.answerSix">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead7">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                                        aria-expanded="false" aria-controls="faq7" data-i18n="faq.seven"></a>
                                    </div>

                                    <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                        <div class="card-body" data-i18n="faq.answerSeven">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>