<a href="#header" class="btnTop txt-black btn scroll text-black" data-i18n="[html]footer.btnTop">
    <i class="icon-arrow-up-circle icons"></i>
</a>

<!-- <button class="btn btn-info dataToolTip"aria-describedby="tooltip">Tooltip</button>
<div class="tooltip" role="tooltip">
    My tooltip
    <div id="arrow" data-popper-arrow></div>
</div> -->
<footer id="footer" class="s-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 s-footer__blockLogo">
                <a href="/">
                    <img src="./assets/img/logo-wifor.png" alt="logo juventude digital" class="text-center mb-2 logoWiFor" width="165">
                </a>

                <div class="footer-social d-flex  mb-3 mt-3">
                    <a target="_blank" href="https://pt-br.facebook.com/FortalezaCitinova/" data-toggle="tooltip">
                        <i class="fa fa-facebook icon-circle bg-facebook text-center text-white" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/prefeituradefortaleza/" data-toggle="tooltip">
                        <i class="fa fa-instagram icon-circle bg-black text-white" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/prefeiturafortaleza" data-toggle="tooltip">
                        <i class="fa fa-youtube   icon-circle bg-youtube text-white" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div>
                    <a href="/">
                        <img src="./assets/img/logo-citinovaBlack.png" alt="logo citinova" class="text-center mb-1 mt-1" width="200">
                    </a>
                </div>
                <address class="text-black">

                    <b class="font-weight-bold">Fundação de Ciência,
                        Tecnologia e Inovação de Fortaleza – Citinova</b>
                    <br>
                    Rua dos Tremembés, 02 - Praia de Iracema, Fortaleza - CE
                    <br>
                    CEP: 60060-520<br>
                </address>
            </div>
            <div class="col-lg-4 col-md-12 d-block">
                <a href="https://www.fortaleza.ce.gov.br/" target="_blank">
                    <img src="./assets/img/logo-pref.png" class="mt-3 logoBranca" alt="Logo Prefeitura de Fortaleza" />
                </a>
                <br>
                <br>
                <a target="_blank" data-toggle="tooltip" class="mt-3" href="https://acessoainformacao.fortaleza.ce.gov.br/sistema/site/index.html?ReturnUrl=%2fsistema%2f">
                    <img src="./assets/img/ainformacao.png" alt="icone acesso informação" width="35" />
                </a>
            </div>
            <div class="col-sm-12 d-flex align-items-center justify-content-center">
            </div>
        </div>
    </div>
</footer>