<div class="langButton langMobile">
<!-- exemplo tradução -->
<button class="lang-button btnPor" type="button">
    <img src="./assets/img/br.svg" alt="br" class="">
</button>
<button class="lang-button btnEng" type="button">
    <img src="./assets/img/gb.svg" alt="ing" class="">
</button>
<button class="lang-button btnEsp" type="button">
    <img src="./assets/img/es.svg" alt="es" class="">
</button>
<!-- exemplo tradução-->
</div>
<header id="header" class="">
    <section class="s-acessibility d-none d-lg-block bg-light">
        <!--acessibilidade-->
        <div class="app-acessibilidade">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12 app-acessibilidadeMenu d-none d-md-flex align-items-center">
                        <a class="scroll mr-1" href="#anchorCom" data-toggle="tooltip" data-placement="top"
                            accesskey="1" data-i18n="[data-original-title]acess.centralAtalho;acess.central"></a>
                        <a class="scroll mr-1" href="#contHeader" data-toggle="tooltip" data-placement="top"
                            accesskey="2" data-i18n="[data-original-title]acess.menuAtalho;acess.menu"></a>
                        <a class="scroll mr-1" href="#footer" data-toggle="tooltip" data-placement="top"
                            accesskey="3" data-i18n="[data-original-title]acess.rodapeAtalho;acess.rodape"></a>
                        <!-- <a class="scroll mr-1" href="#anchorCom" data-toggle="tooltip"
                            accesskey="1" data-i18n="[data-original-title]acess.centralAtalho;acess.central"></a>
                        <a class="scroll mr-1" href="#contHeader" data-toggle="tooltip"
                            accesskey="2" data-i18n="[data-original-title]acess.menuAtalho;acess.menu"></a>
                        <a class="scroll mr-1" href="#footer" data-toggle="tooltip"
                            accesskey="3" data-i18n="[data-original-title]acess.rodapeAtalho;acess.rodape"></a> -->
                        <a href="#altocontraste" id="altocontraste" class="colorContrast mr-1 text-gray-700">
                            <i class="fa d-inline fa-adjust text-blue text-gray-700"></i>
                        </a>
                        <a href="#" id="decrease-font" class="mr-1 text-gray-700" role="button" data-toggle="tooltip"
                            data-placement="top" data-i18n="[data-original-title]acess.deacFont;acess.fontDim"></a>
                        <a href="#" id="normal-font"   class="mr-1 text-gray-700" role="button" data-toggle="tooltip"
                            data-placement="top" data-i18n="[data-original-title]acess.defFont;acess.fontDef"></a>
                        <a href="#" id="increase-font" class="mr-1 text-gray-700" role="button" data-toggle="tooltip"
                            data-placement="top" data-i18n="[data-original-title]acess.incFont;acess.fontAum"></a>
                        <div class="flex justify-items-end align-items-center langButton">
                            <!-- exemplo tradução -->
                            <button class="lang-button btnPor" type="button">
                                <img src="./assets/img/br.svg" alt="br" class="">
                            </button>
                            <button class="lang-button btnEng" type="button">
                                <img src="./assets/img/gb.svg" alt="ing" class="">
                            </button>
                            <button class="lang-button btnEsp" type="button">
                                <img src="./assets/img/es.svg" alt="es" class="">
                            </button>
                            <!-- exemplo tradução-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 app-acessibilidadeItens d-none d-md-block">
                        <ul class="menu mb-0">
                        <li class="nav-item">
                            <a href="/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer" data-i18n="acess.info">Acesso a informação</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://transparencia.fortaleza.ce.gov.br/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer" data-i18n="acess.transp">Transparência</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://catalogodeservicos.fortaleza.ce.gov.br/" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer" data-i18n="acess.serv">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://legislacao.fortaleza.ce.gov.br/index.php/P%C3%A1gina_principal" data-toggle="tooltip" class="nav-link px-1 text-gray-700" target="_blank" rel="noopener noreferrer" data-i18n="acess.legislacao">Legislação</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/acessibilidade-->
    </section>
    <div id="contHeader" class="container-fluid">
        <nav class="h-nav navbar navbar-expand-lg">
            <!--desktop menu-->
            <div class="h-nav__links--order">
                <!--Logo wifor-->
                <a href="/" class="h-nav__mainBrand">
                    <img src="./assets/img/logo-branca.png" data-i18n="[alt]nav.logoPref"  id="logoPrefBranca" class="h-nav__brand--hidden">
                    <img src="./assets/img/logo-wifor.png"  data-i18n="[alt]nav.logoWifor" id="logoWifor" class="h-nav__brand--hidden">
                </a>
                <!--/Logo wifor-->

                <!--nav menu desktop-->
                <ul class="h-nav__menu--list navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/" data-i18n="nav.home"></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link linkAnchorCom" href="#" data-i18n="nav.about"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorRen" href="#" data-i18n="nav.connect"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorFor" href="#" data-i18n="nav.points"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorPar" href="#" data-i18n="nav.partners"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorFaq" href="#" data-i18n="nav.faq"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorCon" href="#" data-i18n="nav.contact"></a>
                    </li>
                </ul>
                <!--botão para menu mobile-->
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="icon-menu icons text-white"></i></span>
                </button>
                <!--/botão para menu mobile-->
            </div>
            <!--/desktop menu-->
            <!--mobile menu-->
            <div class="h-nav_menu--hidden collapse navbar-collapse bg-white" id="mobileMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link linkAnchorAl" href="/" data-i18n="nav.home"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorCom" href="#" data-i18n="nav.about"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkCursos" href="#" data-i18n="nav.connect"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorFor" href="#" data-i18n="nav.points"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkAnchorPar" href="#" data-i18n="nav.partners"></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link linkAnchorFaq" href="#" data-i18n="nav.faq"></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link linkAnchorCon" href="#" data-i18n="nav.contact"></a>
                    </li>

                    <!-- <li class="nav-item mt-2">
                        <button type="button" onclick="window.location.href='/cadastrar'" class="btn btn-warning btn-block nav-link ">
                            <i class="icon-login icons mr-1"></i>Cadastrar
                        </button>
                    </li> -->
                </ul>
            </div>
            <!--/mobile menu-->
        </nav>
    </div>
</header>