            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Wi-For - Praças</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body list-unstyled">
                        <ul class="list-group list-group-flush" id="squares"></ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Wi-For - Terminais e mini-terminais</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body list-unstyled">
                        <ul>
                            <li>Antônio Bezerra</li>
                            <li>Papicu</li>
                            <li>Conjunto Ceará</li>
                            <li>Lagoa</li>
                            <li>Siqueira</li>
                            <li>Parangaba</li>
                            <li>Messejana</li>
                            <li>José Walter</li>
                            <li>Washington Soares</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Wi-For - BRT´s</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body list-unstyled">
                        <ul>
                            <li><b>Bezerra de Menezes</b></li>
                            <li>North Shopping</li>
                            <li>Érico Mota</li>
                            <li>Dom Lino</li>
                            <li>Instituto dos Cegos</li>
                            <li>Padre Frota</li>
                            <li>São Sebastião</li>
                            <li>Otávio Bonfim</li>
                            <li>José Sombra</li>
                            <li>José Lourenço</li>
                            <li>Olavo Bilac</li>
                            <li>Cruz Saldanha</li>
                            <br>
                            <br>
                            <li><b>Aguanambi</b></li>
                            <li>Matos Serra</li>
                            <li>O Povo</li>
                            <li>Pergentino Ferreira</li>
                            <li>Fátima</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Wi-For - Equipamentos públicos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-body list-unstyled">
                        <ul class="list-group list-group-flush" id="publicFacilites"></ul>
                    </div>

                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Wi-For - Outros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body list-unstyled">
                        <ul class="list-group list-group-flush" id="others"></ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>
            <div class="modal fade" id="modalPolitica" tabindex="-1"
                role="dialog" aria-labelledby="modalPolitica" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Política de privacidade e termo de uso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body list-unstyled">
                        <div class="bg-white p-4">
                            Agradecemos a sua visita ao site do Wi-For Fortaleza. Neste espaço, divulgamos a nossa
                            política de utilização dos seus dados pessoais.
                            Assim, você poderá entender melhor quais informações obtemos e como as utilizamos.
                            Dedique alguns minutos do seu tempo para ler essa política e aproveitar de forma consciente e
                            segura tudo o que o Wi-For Fortaleza tem para oferecer. Nós acreditamos que a
                            privacidade das informações pessoais é essencial para o sucesso de nossa comunidade na Internet,
                            tornando-a um ambiente de navegação o mais seguro possível. A seguir, estão descritas as regras
                            aplicáveis à utilização do acesso digital ao portal do Wi-For Fortaleza pela Prefeitura
                             Municipal de Fortaleza,
                            por meio da Fundação de Ciência, Tecnologia e Inovação de Fortaleza (Citinova), de acordo
                            com o Decreto 14.336,
                             de 12 de dezembro de 2018.
                             <br>
                             <br>
                             <h5>INFORMAÇÕES SOBRE NOSSA POLÍTICA DE PRIVACIDADE: </h5>
                             <br>
                             <br>
                             Informações dos usuários;
                             <ul>
                                 <li>Responsabilidade dos usuários; </li>
                                 <li>Comunicação; </li>
                                 <li>Proibições; </li>
                                 <li>Foro; </li>
                                 <li>Alterações e atualização desta política; </li>
                                 <li>Direitos autorais e licenças </li>
                                 <li>Aceitação do termo e condições de uso. </li>
                             </ul>

                            <br>
                            <b>3. Responsabilidade da Prefeitura de Fortaleza </b>
                            <br>
                            <br>
                            A Prefeitura, no papel de custodiante das informações pessoais dos usuários, deve cumprir todas as legislações inerentes ao uso correto dos dados pessoais do cidadão de forma a preservar a privacidade dos dados utilizados na plataforma.
                            Publicar e informar ao usuário as futuras alterações a estes Termos de Uso e Política de Privacidade por meio
                            do sítio <a href="https://wifor.fortaleza.ce.gov.br/">(https://wifor.fortaleza.ce.gov.br/)</a>,
                            conforme o princípio da publicidade estabelecido no artigo 37, caput, da Constituição Federal.
                            Em nenhuma hipótese, a Prefeitura Municipal de Fortaleza será responsável pela instalação
                            no equipamento do usuário ou de terceiros, de códigos maliciosos (vírus, trojans, malware,
                            worm, bot, backdoor, spyware, rootkit, ou de quaisquer outros que venham a ser criados),
                            em decorrência da navegação na Internet pelo usuário.
                            <br>
                            <br>
                            <b>4. Comunicação </b>
                            <br>
                            Sempre que desejar, o usuário poderá entrar em contato com a equipe da plataforma
                            única de autenticação, por meio do sítio
                            <a href="https://wifor.fortaleza.ce.gov.br/">(https://wifor.fortaleza.ce.gov.br/)</a>
                            para sanar quaisquer dúvidas sobre este Termo de Uso e Política de Privacidade.
                            <br>
                            <br>
                            <b>5. Proibições</b>
                            <br>
                            A Prefeitura por meio da plataforma de autenticação, em nenhuma hipótese,
                            realizará as seguintes ações: Envio de e-mails ou ligações (links) com sites,
                            solicitando informações pessoais dos usuários; Envio de propagandas de produtos ou
                            serviços comerciais de qualquer natureza; Apresentação de avisos ou comunicações
                            publicitárias via serviços digitais, para qualquer propósito
                            <br>
                            <b>6. Foro </b>
                            <br>
                            <br>
                            Quaisquer disputas ou controvérsias oriundas de quaisquer atos praticados no âmbito da utilização dos sítios e/ou aplicativos pelos usuários, inclusive com relação ao descumprimento dos Termos de Uso e Política de Privacidade ou pela violação dos direitos da Prefeitura Municipal de Fortaleza, de outros usuários e/ou de terceiros, inclusive direitos de propriedade intelectual, de sigilo e de personalidade, serão processadas na Comarca de Fortaleza/CE. Os casos omissos poderão ser tratados em uma instância administrativa por meio da Ouvidoria da Prefeitura.
                            <br>
                            <b>7. Alterações e atualização desta Política </b>
                            <br>
                            Esta política tem validade indeterminada, podendo ser alterada em seus termos, a qualquer tempo, e a versão deste termo de uso será vinculada no ato da aceitação do usuário. Qualquer alteração e/ou atualização destes Termos de Uso e Política de Privacidade passará a vigorar a partir da data de sua publicação no sítio e deverá ser integralmente observada pelos usuários. As alterações a este termo serão publicadas e informadas ao usuário por meio do sítio (https://jd.fortaleza.ce.gov.br).
                            <br>
                            <br>
                            <b> 8. Direitos autorais e licenças </b>
                            <br>
                            A Prefeitura de Fortaleza, por intermédio da Fundação Citinova, é proprietária de todos os direitos autorais, marcas, domínios, logotipos, aparência do produto, segredos de empresa, patentes e outros direitos de propriedade intelectual, associados ao produto Juventude Digital e tecnologias associadas. É proibido o uso desses direitos autorais, marcas, domínios, logotipos, aparência do produto, segredos de empresa, patentes e outros direitos de propriedade intelectual sem autorização expressa do Município de Fortaleza por meio do seu legítimo representante.
                            <br>
                            <br>
                            <b>9. Aceitação do termo e condições de uso</b>
                            <br>
                            O usuário declara ter lido, entendido todas as regras, condições e obrigações estabelecidas
                            no presente termo. O usuário está ciente e concorda com a coleta, armazenamento,
                            tratamento, processamento e uso das informações enviadas e/ou transmitidas pelo Juventude Digital nos termos estabelecidos nestes Termos de Uso e Política de Privacidade. Ao utilizar o aplicativo o usuário concorda e aceita integralmente as disposições destes Termos de Uso e Política de Privacidade.
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                </div>
            </div>