            <section id="anchorPar" class="s-content s-parceiros pb-0">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col">
                            <h2 class="text-center s-content__title--main mb-4 text-black"><b data-i18n="nav.partners"></b></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 s-parceiros__block  d-flex justify-content-center align-items-center">
                            <a href="img/logo-mob.png" target="_blank">
                                <img src="./assets/img/logo-mob.png" alt="logo parceiro" class="mb-3" width="185">
                            </a>
                        </div>
                    </div>
                </div>
            </section>